<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/github-markdown-css@5.1.0,npm/github-markdown-css@5.1.0/github-markdown-light.min.css">
    <title>ガラパゴス貴金属/ガラパゴス証券のURLリファレンス</title>
</head>
<body>
<section class="section" id="main">
    <h1>ガラパゴス貴金属/ガラパゴス証券のURLリファレンス</h1>
    <p class="message">
        このページは、HTMLページのURLリファレンスです。<br>
    </p>
    <div class="markdown-body">
        {{ note | safe }}
    </div>
</section>
<footer>
    <ul>
        <li><a href="/">トップに戻る</a></li>
        <li><a href="/about/">はじめての方へ</a></li>
        <li><a href="/reference/">リファレンス</a></li>
        <li><a href="https://forum.pc5bai.com/company/" target="_blank">運営者紹介</a></li>
        <li><a href="https://forum.pc5bai.com/toiawase/create/" target="_blank">お問い合わせ</a></li>
    </ul>
</footer>
</body>
</html>