<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        form p {
            display: flex;
        }

        #id_stock_price div {
            display: inline;
        }

        label {
            width: 200px;
        }

        section.message-area > div.message.warning {
            background-color: red;
            color: white;
        }
    </style>
    <title>ガラパゴス証券の買い取りページへようこそ！</title>
</head>
<body>
<h1>ガラパゴス証券の買い取りページです</h1>
{% if messages %}
    <section class="message-area">
        {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                <p class="message-text">{{ message }}</p>
            </div>
        {% endfor %}
    </section>
{% endif %}
<section class="section">
    証券を買い取ります。<br>
    売りたい証券の情報を、以下のフォームに入力してください。<br>
    <br>
    <div class="form">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="送信する">
        </form>
    </div>
    <p>
        <a href="/stock/">ガラパゴス証券トップに戻る</a><br>
        <a href="/">トップに戻る</a><br/>
    </p>
</section>
</body>
</html>